portainer.json
[{"id":"1ed15365.4a73ed","type":"tab","label":"portainer","disabled":false,"info":"","nodes": [ ],"configs": [ ]},{"id":"472757bf.77b668","type":"comment","z":"1ed15365.4a73ed","name":"----------Portainer------------","info":"","x":180,"y":80,"wires":[]},{"id":"182ec284.99a69d","type":"debug","z":"1ed15365.4a73ed","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":140,"wires":[]},{"id":"f822094e.5f45d8","type":"inject","z":"1ed15365.4a73ed","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":140,"wires":[["2de5c299.fa65ae"]]},{"id":"9953def3.25762","type":"change","z":"1ed15365.4a73ed","name":"","rules":[{"t":"set","p":"","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":280,"wires":[["a76af028.12014"]]},{"id":"2de5c299.fa65ae","type":"template","z":"1ed15365.4a73ed","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe width=\"100%\" hieght=\"100%\" is=\"x-frame-bypass\" src=\"http://10.0.0.104:1880\"></iframe>","output":"str","x":380,"y":280,"wires":[["a76af028.12014"]]},{"id":"a76af028.12014","type":"ui_template","z":"1ed15365.4a73ed","group":"5dc16e5d.c84ff","name":"","order":109,"width":6,"height":1,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":610,"y":220,"wires":[[]]},{"id":"ad0b0e4f.5be82","type":"inject","z":"1ed15365.4a73ed","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":180,"wires":[["9953def3.25762"]]},{"id":"5dc16e5d.c84ff","type":"ui_group","name":"System","tab":"4be07109.7cc29","order":1,"disp":false,"width":"20","collapse":false},{"id":"4be07109.7cc29","type":"ui_tab","name":"Settings","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
